@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.cabecalho {
    height: 80px;
    background: #222831;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 40px;
}

.cabecalho h1 {
    font-family: 'Noto Sans', sans-serif;
    color: #A3F7BF
}

.cabecalho button {
    background: #29A19C;
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 20px;
}

main {
    background: #29A19C;
    height: 87.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.container p {
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 42px;
    color: #222831;
    width: 400px;
    margin-bottom: 100px ;
}

.form {
    background: #222831;
    height: 300px;
    margin-bottom: 80px;
    margin-right: 40px;
    border-radius: 10px;
}

.form h2 {
    color: #A3F7BF;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}
.form p {
    color: #29A19C;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.form input {
    color: #29A19C;
    margin-left: 50px;
}