
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #29A19C;
}

.header {
  overflow: hidden;
  background-color: #222831;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 30px;
  color: #A3F7BF;
  margin-left: 10px;
}

.header a.active {
  background-color: #29A19C;
  font-size: 17px;
  border-radius: 35px;
  margin-right: 60px;
  padding: 8px;
  width: 200px;
  color: black;
}

.header a.active:hover {
    background-color: #dff3e6;
    transition: 1s;
}

.header-right {
  float: right;
}

.text p{
    font-size: 40px;
    color: black;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 90px;
} 

.box {
    background-color: #393E46;
    width: 300px;
    height: 310px;
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 15px;
    float: right;
  }

  .box p {
      text-align: center;
      color: #A3F7BF;
  }

  ul {
    list-style: none; /* Remove HTML bullets */
    padding: 0;
    padding-top: 10px;
    margin: 0;
  }
  
  li { 
    padding-left: 26px; 
    padding-top: 10px;
    color:#A3F7BF;
  }
  
  li::before {
    content: "o"; /* Insert content that looks like bullets */
    padding-right: 6px;
    margin-top: 10px;
    color:#C4C4C4; /* Or a color you prefer */
    font-size: 30px;
  }
  
@media screen and (max-width: 900px) {
  .header  {
          width: 100%;
       }
  .text  {
      width: 70%;
        }
  .box {
    width: 70%;
  }          
  
  ul {
    width: 70%;
  }

  @media screen and (max-width: 400px){
    .header{
        width: 55%;
    }
    .text  {
      width: 10%;
        }
  .box {
    width: 10%;
  }          
  
  ul {
    width: 70%;
  }
}
}
